<style>
swiper-container {
    width: 50%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  swiper-container {
    margin-left: auto;
    margin-right: auto;
  }
</style>
<swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
    loop="true">
    <swiper-slide>
        <div>
            <div class="card text-center"><img class="card-img-top" src="" alt="">
              <div class="card-body">
                <h5>MrBeast<br />
                  <span> 200mil</span>
                </h5>
                <p class="card-text">“1,000 Незрячих Людей Видят Впервые” </p>
              </div>
            </div>
          </div>
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
